// app global css
@import 'quasar.variables'
@import 'flags'

@font-face {
    font-family: 'RobotoMono-Light';
    src: url(themes/RobotoMono-Light.ttf)
}

::selection {
    background: #63c9f3;
}
::-moz-selection {
    background: #63c9f3;
}

* {
    scrollbar-track-color: #111;
    scrollbar-arrow-color: #111;
    &::-webkit-scrollbar-corner { background-color: #111;}
    &::-webkit-scrollbar-track-piece { background-color: #111;}

    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-shadow-color: #646464;
    scrollbar-dark-shadow-color: #646464;
    &::-webkit-scrollbar { width: 8px; height: 8px;}
    &::-webkit-scrollbar-button {  background-color: #646464; height:0; width: 0; }
    &::-webkit-scrollbar-track {  background-color: #646464;}
    &::-webkit-scrollbar-thumb { height: 50px; background-color: #646464; border-radius: 3px;}
    &::-webkit-resizer { background-color: #646464;}
}


h1,h2,h3,h4,h5,h6,
img,
.q-list-header,
.q-header,
.q-menu .q-item-label,
.q-list-link .q-item,
.q-checkbox .q-option-label,
.infoBox .text,
.modal-header,
footer,
{
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.monospace {
    font-family: 'RobotoMono-Light', monospace
}


.break-all {
    word-break: break-all
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}

.q-field {
    margin: 20px 0;

    &.q-ma-none {
        margin: 0;
    }
}

.text-area-sispop {
  margin-top: 0px;
  margin-bottom: 0px;
}

.q-inner-loading {
    z-index: 2;
}

.q-btn {
    text-transform: none;
}

// At bottom of forms
.submit-button {
    margin-top: 6px;
}

.layout-padding {
    padding: 15px 16px !important;
}

.advanced-options-label .q-item-side-right {
    margin: 0;
    text-align: left;
}

.q-layout, .app-content {
    background: white;
    color:$sispop-navy;
}

.q-header {
    background: #0A0A0A;
    box-shadow: none;
    border-bottom: 1px solid #333;
    height: 48px;

    &.shift-title {
        .q-toolbar {
            text-align: center;

            .q-toolbar-title {
                font-size: 16px;
                line-height: 48px;
                font-weight: 300;
            }
        }
    }

    .q-btn.menu {
        height: 48px;
        width: 50px;
        position: absolute;
        top: 0;
        z-index: 1;
        border-radius: 0;
    }
    .q-btn.cancel {
        position: absolute;
        top: 7px;
        left: 8px;
        z-index: 1;
    }

    .q-toolbar-inverted {
        background: $sispop-navy;
        padding-top: 0;
    }

    .q-tabs {
        padding-left: 50px;

        .q-tabs-head {
            padding: 0;
            background: none;
        }

        .q-tab {
            text-transform: none;

            // &:hover {
            //     background-color: rgba(12,12,12,0.15)
            // }

            .q-icon {
                font-size: 22px;
            }

        }

    }
}

.q-layout-page {
    min-height: 0 !important;
}

.infoBox {
    height: 75px;
    cursor: default;
    position: relative;
    overflow: hidden;
    margin: 10px 0;

    .infoBoxIcon {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 64px;
        color: #cecece;

        svg {
            width: 60px;
            height: 60px;
        }
    }

    .infoBoxContent {
        display: inline-block;

        .text {
            font-size: 14px;
            margin-top: 8px;
            color: $sispop-navy;
        }

        .value {
            font-size: 24px;
            margin-top: 4px;
            font-weight: 300;
            color: $sispop-navy;
        }
    }
}

.q-checkbox {
    color: $sispop-navy    
}

.q-loading + .modal {
    z-index: 9999 !important;
}

.modal-scroll {
    max-height: 230px;
    max-width: 640px;
    word-break: break-word;
}

.q-footer.status-footer {
    background: $sispop-navy;
    color: rgba(255, 255, 255, 0.51);
    border-top: 1px solid #333;
    padding-top: 2px;
    box-shadow: none;
    font-size: 12px;

    .status-line {
        padding: 8px;
        margin-bottom: 5px;

        .status {
            flex: 1;
            span {
                margin-right: 4px;
            }

            .status-text {
                font-weight: bold;
            }

            .ready {
              color: $positive;
            }

            .scanning, .syncing {
                color: goldenrod;
            }

            .updateRequired {
                color: $negative;
            }
        }

        div {
            padding: 0 8px;
        }
    }

    .status-bars {

        div {
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
            -webkit-transition: width 0.5s ease-out;
            transition: width 0.5s ease-out;
        }

        div:first-child {
            // TODO: should first and last child be different, where even is this?
            background-color: $positive;
        }

        div:last-child {
            background-color: $positive;
        }
    }

    .status-bars.syncing, .status-bars.scanning {
        div:first-child {
            background-color: goldenrod;
        }

        div:last-child {
            background-color:goldenrod;
        }
    }

    .status-bars.updateRequired {
        div:first-child {
            color: $negative;
            background-color: $negative;
        }

        div:last-child {
            color: $negative;
            background-color: $negative;
        }
    }

}

.tx-list {

    .meta {
        text-align:right;
    }

    .q-item.tx-in,
    .q-item.tx-pool,
    .q-item.tx-miner,
    .q-item.tx-snode,
    .q-item.tx-gov {
        .amount span {
            color: $sispop-navy;
            &:before {
                content: "+";
                color: $sispop-navy;
            }
        }
    }

    .q-item.tx-stake {
        .amount span {
            color: goldenrod;
        }
    }

    .q-item.tx-out,
    .q-item.tx-pending {
        .amount span {
            // color: white;
            &:before {
                content: "-";
                font-weight: bold;
                // color: white;
            }
        }
    }

    .q-item.tx-failed {
        .amount span {
            color: orangered;
        }
    }
}

.q-list-dark .q-item,
.q-item-dark .q-item,
.q-list-header {
    color: #cecece;
}

.q-stepper-tab.step-waiting,
.q-stepper-step-content{
    color: #cecece;
}

.q-menu {
    background: white;
    color: $sispop-navy !important;

    * {
        color: $sispop-navy;
    }

    .q-list-separator > .q-item-division + .q-item-division, .q-item-division + .q-separator {
        border-top: 1px solid #333;
    }
}

.menu-list {

    background: white;

    .q-item * {
        color: $sispop-navy;
    }
}

.context-menu-list {
  min-width: 150px;
  max-height: 300px;
}

.confirm-tx-card {
  width: 450px;
  max-width: 450x;

  color: $sispop-navy !important;

  .confirm-list {
    .q-item {
      max-height: 100%;
      margin-top: 0;
      margin-bottom: 4px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .label {
    color: $sispop-purple;
    padding-right: 6px;
  }
  .address-value {
    word-break: break-word;
  }

  .confirm-send-btn {
    color: white;
    background: $primary;
  }
}


.header-popover {
    background: white;
    max-width: 250px !important;
}

.modal.minimized {
    .q-input {
        .q-input-target {
            color: #cecece;
        }
        &.q-if:hover:before {
            color: #cecece;
        }
    }
}

.modal {
    color: #cecece;

    .modal-header {
        margin-top: 6px;
        margin-left: 24px;
        text-align: left;
        font-size: 24px;
        font-weight: bold;
    }

    .q-header {

        .q-toolbar {
            &>* {
                color: #cecece;
            }
        }
    }

}

.q-toolbar {
    background-color: $sispop-navy;
}

.header {
    color: $sispop-navy;
}

.detail-page {
    color: $sispop-navy;
}

.q-radio {
    color: $sispop-navy;
    svg {
        color: $sispop-navy;
    }
}

.qr-code-modal {
  padding: "25px";
  color: white;

  .qr-code-card {
    background-color: white;
  }
}

.sispop-light-teal {
    background: $sispop-light-teal;
    color: white;
}

.sispop-navy {
    background: $sispop-navy;
    color: white;
}

.sispop-teal {
    background: $sispop-teal;
    color: white;
}

.startup-icons {
    .solid {
        color:$sispop-teal;
        g,path {
            fill: $sispop-teal;
        }
    }
}

.hr-separator {
    height: 2px;
    background: $secondary;
    opacity: 0.4;
}

.navigation {
    .q-btn {
        background: $sispop-navy;
        color: white;
        
        .q-icon {
            color: $sispop-teal;
        }
    }

    .router-link-exact-active > .q-btn {
        color: $sispop-navy
        background: $sispop-teal;

        .q-icon {
            color: $sispop-navy;
        }
    }

}

.truncate-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wallet-list {
    .q-item-label {
        color: white;
    }

    .q-item {
        background: $sispop-navy;
        .wallet-icon {
            color: $sispop-teal;
            g,path {
                fill: $sispop-teal;
            }
        }
    }

    .q-item:hover, .q-item.selected {
        background: $sispop-purple !important;

        .wallet-icon {
            color: $sispop-teal;
            g,path {
                fill: $sispop-teal;
            }
        }

        .q-icon {
            color: white;
        }
    }
}

.wallet-settings {
  .q-btn {
    color: $sispop-navy;
  }
}

.receive {

    .list-header {
        color: $sispop-navy;
    }

    .q-separator-component {
        background-color: white;
        opacity: 0.4;
    }

    .primary-address {
        background: $sispop-teal !important;
        border: none !important;

        .q-item, .q-item-side {
            color: white;

            .text-caption {
                color: white;
            }
        }

        .q-btn {
            color: white;
        }
    }

    .primary-address:hover {
        background: #0ca69b !important;
    }

}

.sispop-list {
    .sispop-list-item {
        background: white;
        -webkit-transition: background-color 0.2s ease-in;
        transition: background-color 0.2s ease-in;

        font-size: 16px;
        color: $sispop-navy;
        padding-top: 6px;
        padding-bottom: 6px;

        margin: 0 16px;
        border: 1px solid $sispop-navy;
        border-radius: 4px;

        + .sispop-list-item {
            margin-top: 10px;
        }
    }

    .text-caption {
        color: $sispop-navy;
    }

    .sispop-list-item:hover {
        background: $off-grey;
        cursor: pointer;

    }

}

.record-type-title {
  font-weight: bold;
  margin-bottom: 40px;
  padding-bottom: 40px;
  color: $sispop-navy;
}

.records-group {
  padding-bottom: 40px;
}

.service-node-list {
    .q-item {
        cursor: pointer;
        color: $sispop-navy;
        background: white;
        -webkit-transition: background-color 0.2s ease-in;
        transition: background-color 0.2s ease-in;

        border: 1px solid $sispop-navy;
        border-radius: 4px;

        + .q-item {
            margin-top: 10px;
        }

        .contrib-amounts {
            color: $sispop-navy;
        }
    }
    
    .q-item-label {
        color: $sispop-navy;
    }

    .fee {
        color: $sispop-navy;
    }

    .q-item:hover {
        background: $off-grey;
    }

}

.sispopnet-expiration {
  width: 180px;
}

.ons-record-list {
  .q-item {
    cursor: pointer;
    color: $sispop-navy;
    -webkit-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;

    border: 1px solid $sispop-navy;
    border-radius: 4px;

    .height {
      color: $sispop-navy;
    }

    // we don't want to select button text (also a span) as well
    // this is the height text
    div > span {
      color: #1f1c47;
    }

    + .q-item {
      margin-top: 10px;
    }
  }

  .q-item:hover {
    background: $off-grey;
  }
}
.update-renew-buttons {
  .q-btn:not(:first-child) {
    margin-left: 8px;
  }
}

.tx-list {
    .transaction .main {
            border-left: 1px solid #252525;
    }
}

.tab-desc {
    color: $sispop-navy;
    font-style: normal;
    b {
        color: $sispop-teal;
        font-style: italic;
    }
}

.sispop-field {
    .content {
        border: 1px solid #484848;
        background: white;
        -webkit-transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
        transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
    }

    &:not(.disable):not(.disable-hover) {
        .content:hover {
            background: white;
        }
    }

    &.disable {
        .content {
            border-color: #404040 !important;
        }
    }

    .content.error {
        border-color: red;
    }

    .label {
        color: $sispop-navy;

        .optional {
            color: #7C7C7C;
        }
    }
}

.welcome {
    .q-footer {
        background: $secondary
    }
}

.welcome-container {
    color: $sispop-navy;
}

.address-book, .address-header {
    .q-item-label, .header {
        color: white;
    }
}

.prove-transaction {
    .signature {
        background: rgba(0,0,0,0.5);
        border: #0a0a0a 1px solid;
        border-radius: 2px;
        color: #b7b7b7;
    }
}

.signature-dialog {
    color: $sispop-navy;    
}

.check-transaction {
    .good {
        color: #43bd43;
    }

    .bad {
        color: $negative;
    }
}

.check-transaction, .prove-transaction {
    .title {
        color: #b7b7b7;
        font-size: 14px;
    }
}

.serviceNodeDetails {
    .address {
        color: white;
    }
    .name {
        color: #979797;
    }
}

.non-selectable {
    color: #979797;
}

.created {
    color: $sispop-navy;
    
  .wallet h6 {
    text-align: center;
  }

  .address {
    text-align: center;
    word-break: break-all;
  }

  .seed-box {
    border: 1px solid white;
    border-radius: 3px;
    margin: 16px;
    padding: 16px;

    div,
    h6 {
      text-align: center;
    }

    .seed {
      font-size: 24px;
      font-weight: 600;
    }

    .warning {
      color: goldenrod;
    }
  }
  h6 {
    font-size: 18px;
    margin: 8px 0;
    font-weight: 450;
  }
  .advanced-options-label {
    padding-left: 0;
    padding-right: 0;
  }
}
